        /* Importando fonte profissional */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');
        section{
          border: #ffffff11 solid 2px;
         
        }
        
        /* Resetando margens e paddings padrão */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        a{
            
        }
        html, body {
            overflow-x: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #a5a5a5;
            background-image: url(grunge-wall-texture.jpg);
        }

        /* Estilos do header */
        header {
            
            color: white;
            padding: 2vw 8vw;
            text-align: right;
            position: sticky;
            background: rgba(30, 30, 30, 0.9); /* Transparente e elegante */
            backdrop-filter: blur(5px);
           
        }
        header p{
        position: relative;
        right:35vw ;
        top: 2vw;
        font-size: 4.2vw;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        }

        header nav a {
            color: rgb(214, 214, 214);
            margin: 0 15px;
            text-decoration: none;
            font-size: 1.5vw;
            position: relative;
            top: 3vw;
           text-decoration: none;
          
          
            
        }
        header .logo{
         position: relative;
        right: 80vw;
          height: 9vw;
          margin-top: -3vw;
          right: 70vw ;
          border-radius: 10px;
           


            
        }

        /* Layout básico */
        main {
            padding: 20px;
        }

        section {
            margin-bottom: 40px;
        }

        /* Responsividade */
        @media (max-width: 768px) {
          header{
            height: 50vw;
          }
            header nav {
                display: block;
                text-align: center;
                height: 35vw;
                position: relative;
                top: -5vw;
                
            }

            header nav a {
                display: block;
                position: relative;
                margin: 10px 0;
                font-size: 5.5vw;
                margin-left: 30vw;
               
                
            }
            header .logo { 
                position: relative;          
               height: 27vw;
               top: -30vw;
               right: 60vw;
               border-radius: 10px;
              
             
               
     
                 
            }
        

            main {
                padding: 10px;
            }
        }

        /* Estilo básico para links */
        a:hover {
            text-decoration: none;
            color: #e3e3e3; /* Amarelo metálico */
            text-shadow: 0 0 2px #000000, 0 0 10px #000000;
            
        }


      /* SECTION HOME */

      #home{
        
        text-align: center;
        border-radius: 10px;
        margin-bottom: 2vw;
        padding-top: 2vw;
        padding-bottom: 3vw;
        font-size: 1.4vw;
        align-items: center;
        justify-content: center;
        justify-items: center;
           
      }
      #home p{
        text-align: center;
        width: 80vw;
        color: rgb(38, 42, 38);
        border-bottom: 2px solid rgb(76, 78, 33);
        font-weight: 550;
      }

      /* section serviços */

      .servicos{
            
      }
      .servicos h2,.servicos p {
        text-align: center;
        
      }
      .servicos p{
        margin-bottom: 2vw;
      }
      .servicos ul{
        
         display:  grid;
         gap: 1vw;  
         text-align: center;
         grid-template-columns: repeat(3, 1fr); /* 3 colunas na primeira linha */


      }
      .servicos li{ 
       list-style: none ;
      border-radius: 10px; 
       flex: 1;
       height: 23vw;
       width: 30vw;
       font-size: 1.3vw;
        font-weight: 550;
     border: #0000009e solid 4px;
      transition: all 0.3s ease-in-out;
  
      
       
      }

      .ft1{
        background-image: url(forro-de-gesso.jpeg);
      }
      .ft2{
        background-image: url(ft2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0% 90%;
      }
      .ft3{
        background-image: url(sancas.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0% 0%;
      }
      .ft4{
        background-image: url(Revestimento\ de\ Paredes\ \(Gesso\ Liso\).jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0% 90%;
      }
      .ft5{
        background-image: url(decorativos.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0% 50%;
      }



      .disable{
       
        line-height: 2vw;
        

      }
      .servicos li:hover{ 
        transform: translate(0%, -0%) scale(1.1);
        box-shadow: 0px 0px 20px rgba(83, 88, 88, 0.8); /* Brilho azul */
        .disable{
            display: none
        }
       

      }
      .servicos #liD{
        
        position: relative;
        left: 10vw;
      }
      .servicos #liD2{
        
        position: relative;
        left: 20vw;
      }


     

    /* Faixa de imagens */
    
    
    .image {
       width: 29%;
       position: relative;
        top: 50%;
        left: 100vw; /* Começa fora da tela à direita */
        transform: translateY(-50%);
        animation: moveLoop 10s linear infinite;
        object-fit: cover; /* Mantém a proporção e evita distorção */
        
        

    }

    
    #carousel{
      margin-top: 10vw;
        padding-top: 14vw;
       
    }
    #carousel h2{
      position: relative;
        text-align: center;
        top: -19vw;
    }
    #carousel p{
        position: relative;
          text-align: center;
           top: -19vw;
      }
    .carousel{
        display:flex;
        justify-content: center;
        align-items: center; 
     
        gap: 3vw;
    }
    #contatos{
        align-items: center;
        text-align: center;
        margin-bottom: 5vw;
        text-shadow: #000000b9 2px 2px 2px;
       border-bottom: #000000 2px solid;
       border-top: #000000 2px solid;
       background-color: #3333337e;

    }
    #historia{
        position: relative;
        align-items: center;
        text-align: center;
        margin-bottom: 5vw;
        top: -3vw;
        border-radius: 10px;
        height: 30vw;
        background-color: #0000002a;
       

    }

    footer{
        text-align: center;
        background-color: #a5a5a5;
    }


    .iconW{
      filter: brightness(1.5);
      width: 5vw;
      cursor: pointer;

    }





    @keyframes moveLoop {
        0% {
            left: 147vw; /* Começa fora da tela à direita */
        }
        100% {
            left: -147vw; /* Sai pela esquerda */
        }


    }




  


      @media (max-width: 768px) {
        .servicos{
          border-radius: 10px;
        }

        .servicos li:hover{ 
            transform: translate(0%, -0%) scale(1);
            box-shadow: 0px 0px 20px rgba(83, 88, 88, 0.8); /* Brilho azul */
            .disable{
                display: block;
            }
        }
        .servicos ul{
           
         gap: 1vw;  
         display:  block;
        
      }
        #home p{
       line-height: 5.5vw;
        font-size: 4vw;
      }
      #home{
        height: 37vw;
      }

      .servicos li{ 
        list-style: none ;
        flex: 1;
        height: 90vw;
        width: 90vw;
         position: relative;

       justify-items: center;
       left: 2vw;
       
       margin-bottom: 20vw;
       padding-left: 1vw;
       padding-right: 1vw;
        
       }
    
       .servicos h2{
        position: relative;
        top: 0vw;
       }
       .servicos p{
        position: relative;
        top: 0vw;
        padding-bottom: 10vw;
        
       }
       .servicos #liD{
        
        position: relative;
        left: 2vw;
      }
      .servicos #liD h3{
        
        position: relative;
        left: 2vw;
        top: -18vw;
        line-height: 7vw;
      }

  
      .servicos #liD2{
       
        position: relative;
        left: 2vw;
      }
      .servicos #liD2 h3{
        font-size: 8vw;
        position: relative;
        top: -18vw;
        line-height: 7vw;
      }

      .servicos h3{
        font-size: 8vw;
        position: relative;
        top: -13vw;
      }
      .disable{
        font-size: 4vw;
        line-height: 7vw;
        display: none;
      }

      .image {
        width: 89vw;
        position: relative;
         top: 50%;
         left: 100vw; /* Começa fora da tela à direita */
         transform: translateY(-50%);
         animation: moveLoop 25s linear infinite;
         object-fit: cover; /* Mantém a proporção e evita distorção */
         border-top: #333 solid 9px;
         border-bottom: #333 solid 9px;
         
 
     }

     #carousel{
      margin-top: 50vw;
      background-color: rgba(0, 0, 0, 0);
     }

     #carousel h2{
        position: relative;
          text-align: center;
          top: -58vw;
      }
      #carousel p{
          position: relative;
            text-align: center;
            top: -56vw;
        }


        @keyframes moveLoop {
            0% {
                left: 330vw; /* Começa fora da tela à direita */
            }
            100% {
                left: -340vw; /* Sai pela esquerda */
            }
    


      
    }

    .iconW{
      filter: brightness(1.5);
      width: 20vw;
      

    }

    #contatos{
      align-items: center;
      text-align: center;
      font-weight: 600;
      margin-bottom: 5vw;
      text-shadow: #000000 2px 2px 4px;
      border-radius: 10px;

  }


  #historia{
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 5vw;
    top: -43vw;
    height: 90vw;
    border-radius: 10px;

}

header p{
  position: relative;
  right:61vw ;
  top: -27vw;
  font-size: 5.2vw;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }


}
